<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  {% load static %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>


</head>

<body>
  <h1>Your first (Several) Asynchronous Requests</h1>
  <section class="steps12">
    <h2>Steps 1 and 2</h2>
    <button id="run_request">Run AJAX Request to Root</button>
  </section>
  <section class="steps3456">
    <h2>Steps 3,4,5,6</h2>
    <button id="retrieve_ping">Run AJAX Request to Ping/Pong</button>
  </section>
  <section class="step7">
    <h2>Step 7</h2>
    <button id="retrieve_count">Run AJAX Request to Count</button>
  </section>
  <section class="step8">
    <h2>Step 8</h2>
    <button id="retrieve_time">Run AJAX Request to Time</button>
  </section>
  <section class="step9">
    <h2>Step 9</h2>
    <button id="retrieve_info">Run AJAX Request to A Car</button>
  </section>



</body>

</html>